* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
}

h1 {
    text-align: center;
    color: #eee;
    border-bottom: 1px solid #eee;
}

h2 {
    color: #eee;
}

h2 span {
    color: #333;
}

.user-section,
.computer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-radius: 2em;
    padding: 2em;
}

.user-selection,
.computer-selection {
    border: 1px solid #333;
    background-color: #eee;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-right: 2em;
    transition: transform ease-in 250ms;
}

.user-selection:last-child,
.computer-selection:last-child {
    margin-right: 0;
}

.user-selection i,
.computer-selection i {
    transform: scale(3);
}